<pre>{{items | json}}</pre>

<div class="container-fluid py-5" id="rsvp">
    <div class="container py-5">
        <div class="section-title position-relative text-center">
            <h6 class="text-uppercase text-primary mb-3" style="letter-spacing: 3px;">Lời chúc mừng hạnh phúc</h6>
            <h1 class="font-secondary display-4">Gửi lời chúc</h1>
            <i class="far fa-heart text-dark"></i>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control bg-secondary border-0 py-4 px-3" placeholder="Tên của bạn"/>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control bg-secondary border-0 py-2 px-3" rows="5" placeholder="Lời chúc" required="required"></textarea>
                        </div>
                        <div>
                            <button class="btn btn-primary font-weight-bold py-3 px-5" type="submit">Gửi</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="section-title position-relative text-center">
            <h1 class="font-secondary display-4">Danh sách lời chúc</h1>
            <!-- <h1 class="font-secondary display-4">Gửi lời chúc</h1> -->
            <i class="far fa-heart text-dark"></i>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8 wish-list-wrap" >
                <div class="wish-item">
                    <strong>Bá Quân:</strong> Chúc mừng hạnh phúc 2 bạn
                </div>
                <div class="wish-item">
                    <strong>Bá Quân:</strong> Chúc mừng hạnh phúc 2 bạn
                </div>
            </div>
        </div>
    </div>
</div>