<div class="container-fluid">
    <div class="container pb-3">
        <div class="section-title position-relative text-center">
            <div>
                <h1 class="font-secondary display-4">Kỷ niệm 1 năm ngày cưới</h1>
            </div>
            <h6 class="text-uppercase text-primary mb-3" style="letter-spacing: 3px">24/03/2025</h6>
            <i class="far fa-heart text-dark"></i>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h6 class="font-weight-normal text-muted mb-3 pb-3">
                    Vậy là đã tròn một năm kể từ ngày chúng ta chính thức nắm tay nhau đi trên con đường hạnh phúc. Một
                    năm qua, dù có những niềm vui, những thử thách, nhưng điều tuyệt vời nhất là mỗi ngày trôi qua, anh
                    đều có em bên cạnh.
                    Anh mong rằng, không chỉ một năm, mà suốt quãng đời còn lại, chúng ta sẽ mãi yêu thương và trân
                    trọng nhau như ngày hôm nay. Dù cuộc sống có ra sao, anh hứa sẽ luôn nắm tay em, che chở và yêu em
                    nhiều hơn mỗi ngày.
                    Năm nay với những dự định lớn phía trước, anh tin rằng chỉ cần có em bên cạnh, chúng ta sẽ cùng nhau
                    vượt qua mọi thử thách và biến ước mơ thành hiện thực.
                    Chúc mừng kỷ niệm 1 năm ngày cưới của chúng ta!
                    Yêu em rất nhiều! ❤️
                </h6>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <img class="w-100" src="assets/img/anniversary/1year.jpg" />
            </div>
        </div>
    </div>
</div>